.btn {
  padding: 24px;
}

@media (width <= 1200px) {
  .btn {
    padding: 50px;
  }
}

@media (width <= 900px) {
  .btn {
    padding: 50px;
  }
}

@media (width <= 600px) {
  .btn {
    padding: 50px;
  }
}
