@use '../../assets/scss/globals' as *;
.btn {
  padding: rem(16);
  color: $text-color;
  font-size: $fs__20;
  font-weight: $font__weight--semi-bold;
  line-height: $line__height-m;
  background-color: $primary-color;
  border: none;
  border-radius: 8px;
}

@media (width <= 1200px) {
  .btn {
    padding: 50px;
  }
}

@media (width <= 900px) {
  .btn {
    padding: 50px;
  }
}

@media (width <= 600px) {
  .btn {
    padding: 50px;
  }
}
